    <h3> Edit Website </h3>
    <div>
      <form method="post" action="/websites/<%=@website.id%>">
        <input id="hidden" type="hidden" name="_method" value="PATCH">
        <textarea method="PATCH" id="content" name="content" cols="40" rows="5"><%= @website.content %></textarea>
        <br>
        <label>Add any relevant tags</label>
        <input list="tags" name="dropdown_tag">
        <datalist id="tags-add">
          <% @tags.each do |tag| %>
          <option value="<%= tag %>">
          <% end %>
        </datalist>
        <input type="submit" value="submit" class="submitButton">
      </form>
      <br><br>
      <form action="/websites/<%= @website.id %>/delete" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Website">
      </form>
      <br>
      <a href="/websites">Cancel</a>
    </div>
