    <h1>Add Your New Favorite Website!</h1>
    <div class="#">
      <form action="/websites" method="POST" autocomplete="off">
        <br>
        <textarea id="content" name="content" cols="40" rows="5"></textarea>
        <br>
        <br>
        <label>Add a tag for this website</label>
        <input list="tags" name="dropdown_tag">
        <datalist id="tags">
          <% @tags.each do |tag| %>
          <option value="<%= tag.content %>"></option>
          <% end %>
        </datalist>
        <input type="submit" value="submit" class="submitButton">
      </form>
    </div>
    <a href="/websites">Cancel</a>
