<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add Your New Favorite Website!</h1>

    <div class="#">
      <form action="/websites" method="POST" autocomplete="off">
        <br>
        <textarea id="content" name="content" cols="40" rows="5"></textarea>
        <br>
        <br>
        <label>Add a tag for this website</label>
        <h1>Leave off any pre-fix (e.g. http, https, www) from your site!</h1>
        <input list="tags" name="dropdown">
        <datalist id="tags">
          <% @uniq_tags.each do |tag| %>
          <option value="<%= tag %>"></option>
          <% end %>
        </datalist>
        <input type="submit" value="submit" class="submitButton">
      </form>
    </div>

    <a href="/websites">Cancel</a>
  </body>
</html>
