<h3>Sign Up</h3>

<form action="/signup" method="POST">
  <label>Username:</label>
  <input type="text" name="username"><br>
  <label>Email:</label>
  <input type="text" name="email"><br>
  <label>Password:</label>
  <input type="password" name="password"><br>
  <input type="submit" value="Signup">

  <br><br>
  <p>Already have an account?</p>
  <a href="/login">Login</a>

</form>
