<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><u>Your Tags</u></h1>
    <br>
    <div>
      <% @uniq_tags %>
    </div>
  </body>
</html>
