<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><u>All Websites with the Tag of: <i><%= @tag.last.content %></i></u></h1>
    <% @tags.each do |tag| %>
      <ul>
        <li><a href="<%= tag.websites.last.content %>" type="button" class="button"><%= tag.websites.last.content %></a></li>
      </ul>
    <% end %>
  </body>
</html>
